# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Secrets and local parameters
*.pem
*.key
terraform.tfvars
terraform/*.pem
terraform/*.tfvars

# Ansible and OS
*.retry
.DS_Store
terraform/tfplan
